# ignore ALL .log files
*.log

# ignore ALL image files
*.png
*.jpeg
*.tiff

# ignore ALL model weight files
*.pt
*.pth

#use / for the directories
/paperreplications/cGAN/test_data/*
/paperreplications/cGAN/train_data/*
/paperreplications/__pycache__
paperreplications.egg-info
