# ignore ALL .log files
*.log

# ignore ALL image files
*.png
*.jpeg
*.tiff

# ignore ALL model weight files
*.pt
*.pth

#use / for the directories
# ignore Python cache directories
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.so
.Python

# ignore distribution / packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.ropeproject

#ignore xopp notes and files
paperreplications/*/*.xopp
